html, body {
    font-size: 14px;
    font-family: Arial;
    color: white;
    position: relative;
    min-height: 100%;
    margin-bottom: 60px;
    background-color: #808080;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
        font-family: Arial;
        color: white;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
.imagemhome {
    margin-left: 325px;
    width: 50%;
}

.text-center {
    margin-bottom: 82px;
    margin-top: 20px;
}

h1, a, th, td, h2, h3, h4, h5, p, span{
    text-decoration: none;
    color: white !important;
}

hr {
    background-color: white !important;
}